.main_home {
    background: url(../img/bacraundsvg.svg);
    height: 600px;
    background-size: 98%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-top: 117px;
    margin: 0 auto;

    .bac-img {

        h2 {

            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FEFCF7;
            width: 493px;
            padding-left: 86px;
            margin: 0;
        }

        p {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            width: 405px;
            padding: 32px 0px 0px 86px;
            margin: 0;
        }

        .btn-div {
            padding: 71px 0px 0px 86px;
            .header-btn {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;        
                text-align: center;
                color: #FEFCF7;
                padding: 15px 31px 16px 31px;
                background-color: #0E8784;
                border-radius: 6px;

                &:hover{
                    background-color: #66D2CF;
                }

            }

        }


    }



}



@media (max-width: 920px) {

    .main_home{
        padding-top: 17px;

        background: url(../img/bacraundsvg.svg);
    height: 400px;
    background-size: 98%;
    background-repeat: no-repeat;
    border-radius: 10px;
   



        .bac-img {

            h2 {

                
                font-size: 48px;
                line-height: 48px;
                color: #FEFCF7;
                width: 329px;
                padding-left: 56px;
                margin: 0;
            }

            p {
               
                font-size: 15px;
                line-height: 25px;
                color: #FEFCF7;
                width: 398px;
                padding: 24px 0px 0px 58px;
                margin: 0;
            }

            .btn-div {
                padding: 55px 0px 0px 58px;
               
    
            }

        }
    }




   
       

       

}


@media (max-width: 590px) {

    .main_home{
        padding-top: 100px;
        background: url(../img/phonebag.svg);
        width: 377px;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
 
    
      


        .bac-img {

            h2 {

                
                font-size: 48px;
                line-height: 48px;
                color: #FEFCF7;
                width: 329px;
                padding-left: 20px;
                margin: 0;
            }

            p {
               
                font-size: 15px;
                line-height: 25px;
                color: #FEFCF7;
                width: 398px;
                padding: 24px 0px 0px 20px;
                margin: 0;
            }

            .btn-div {
                padding: 55px 0px 0px 20px;
               
    
            }

        }
    }




   
       

       

}